.apple {
    background-image: url(../resources/Apple50.png);
}

.apricot {
    background-image: url(../resources/Apricot50.png);
}

.kiwi {
    background-image: url(../resources/Kiwi50.png);
}

.cherry {
    background-image: url(../resources/Cherry50.png);
}

.pear {
    background-image: url(../resources/Pear50.png);
}

.strawberry {
    background-image: url(../resources/Strawberry50.png);
}

